@import url("/styles.css");

h1 {
  font-family: "Cabin", sans-serif;
}
body {
  justify-content: center;
  align-items: center;
}
ul {
  margin: 30;
}

#detailWrap {
  display: flex;
  flex: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imageWrap {
  background: #ffffff;
  width: 70%;
}
.productInfoWrap {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.titleTxt {
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  color: #243b55;
}

/* .infoTxt {
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    color: black
  } */
