@import url("/styles.css");

p {
  font-family: "Cabin", sans-serif;
}
#detailWrap {
  display: flex;
  flex: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imageWrap {
  background: #ffffff;
<<<<<<< HEAD
  width: 40%;
  align-self: center;
=======
  width: 70%;
>>>>>>> c92fd1a93154752753aa782e13b3cd0850062e09
}
.productInfoWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}
.productCardWrap {
  display: flex;
  flex: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.titleTxt {
  font-style: normal;
  font-weight: 600;
  color: #243b55;
}

<<<<<<< HEAD
.infoTxt {
  font-style: normal;
  font-weight: 600;
  color: black;
}

#infoTxtWrap {
  display: flex;
  flex: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
#infoWrap {
  display: flex;
  flex: 100%;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
}

#relativeWrap {
  margin-top: 1%;
  display: flex;
  flex: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50vh;
}

.scrolling-wrapper-flexbox {
  display: flex;
  overflow-x: auto;
}

#card2 {
  flex: 0 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 40vw;
}
=======
/* .infoTxt {
    font-family: Cabin;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    color: black
  } */
>>>>>>> c92fd1a93154752753aa782e13b3cd0850062e09
